@import "utils/spacings";
@import "utils/colors";

@import "header";
@import "info";
@import "content";
@import "footer";

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-n100;
}

.main {
  margin: -$spacing-96 $spacing-24 0 $spacing-24;
  max-width: 1024px;
  width: 100%;
  padding: $spacing-24;
}

.container {
  margin: $spacing-64 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
