// primary
$color-p100: hsl(165, 67%, 96%);
$color-p200: hsl(163, 75%, 87%);
$color-p300: hsl(162, 73%, 74%);
$color-p400: hsl(164, 70%, 63%);
$color-p500: hsl(166, 64%, 49%);
$color-p600: hsl(168, 78%, 41%);
$color-p700: hsl(170, 91%, 32%);
$color-p800: hsl(172, 94%, 26%);
$color-p900: hsl(172, 98%, 20%);
$color-p1000: hsl(176, 100%, 13%);

//neutrals
$color-n100: hsl(0, 0%, 97%);
$color-n200: hsl(0, 0%, 88%);
$color-n300: hsl(0, 0%, 81%);
$color-n400: hsl(0, 0%, 69%);
$color-n500: hsl(0, 0%, 62%);
$color-n600: hsl(0, 0%, 49%);
$color-n700: hsl(0, 0%, 38%);
$color-n800: hsl(0, 0%, 32%);
$color-n900: hsl(0, 0%, 23%);
$color-n1000: hsl(0, 0%, 13%);
